* {
  box-sizing: border-box;
}

.slot {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #006b5778;
  background: var(--sds-color-background-default-default);
  width: 349px;
  height: 228px;
}
