* {
  box-sizing: border-box;
}

.tagToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  opacity: 0.7;
  border-radius: 8px;
  background: var(--sds-color-background-brand-default);
  padding: 8px;
  width: 130px;
  height: 36px;

  .title {
    flex-shrink: 0;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--sds-color-text-brand-on-brand);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
