* {
  box-sizing: border-box;
}

.textSmall {
  width: 68px;
  height: 24px;
  line-height: 24px;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 17px;
}
