* {
  box-sizing: border-box;
}

.component4 {
  position: relative;
  width: 176px;
  height: 131px;

  .videoPreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 134px;
    line-height: 67px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 48px;
  }

  .play {
    position: absolute;
    top: 43px;
    left: 66px;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
}
