* {
  box-sizing: border-box;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0px 0px 1px;
  border-style: solid;
  border-radius: 4px 4px 0px 0px;
  border-color: var(--Backgrounds-Secondary---Elevated, #f2f2f7);
  padding: 4px 12px 3px;
  width: 60px;
  height: 29px;

  .label {
    flex-shrink: 0;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #42424299;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}
