* {
  box-sizing: border-box;
}

.formSlot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #006b57;
  border-radius: 8px;
  background: var(--sds-color-background-default-default);
  padding: 23px;
  width: 333px;
  height: 218px;
  row-gap: 24px;
}
