* {
  box-sizing: border-box;
}

.slot {
  display: inline-flex;
  align-items: center;
  width: 251px;
  height: 30px;

  .tab {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-radius: 4px 4px 0px 0px;
    border-color: #006b57;
    padding: 4px 12px 3px;
    width: 84px;

    .label {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }

  .tab2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-radius: 4px 4px 0px 0px;
    border-color: #ceeddf;
    padding: 4px 12px 3px;
    width: 73px;

    .label2 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: #767676;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }

  .tab3 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-radius: 4px 4px 0px 0px;
    border-color: #ceeddf;
    padding: 4px 12px 3px;
    width: 94px;

    .label3 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0;
      color: var(--sds-color-text-neutral-tertiary);
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }
}
