* {
  box-sizing: border-box;
}

.frame4 {
  display: flex;
  align-items: flex-start;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 375px;
  height: 380px;
  overflow-y: auto;

  .frame5 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    margin-top: -1px;
    margin-right: -2px;
    height: 384px;

    .frame3 {
      display: flex;
      align-items: flex-start;
      padding-bottom: 187px;
      width: 375px;

      .rectangle10 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        margin-right: -4px;
        background: #f3f3f3;
        padding: 15px 23px 76px 22px;

        .text {
          width: 106px;
          height: 38px;
          line-height: 29px;
          letter-spacing: -0.48px;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .a5C234A7D50209E0Fdc0 {
          margin-top: 177px;
          margin-left: 11px;
          border-radius: 12px;
          width: 133px;
          height: 170px;
        }

        .text2 {
          margin: 12px 0px 0px 7px;
          line-height: 18px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .autoWrapper {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 3px;
          padding-right: 0;
          padding-left: 11px;

          .a5C234A7D50209E0Fdc02 {
            border-radius: 12px;
            width: 133px;
            height: 170px;
          }

          .text3 {
            margin: 7px 0px 0px;
            width: 184px;
            height: 80px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
          }
        }

        .text4 {
          position: absolute;
          top: 55px;
          left: 30px;
          width: 319px;
          height: 270px;
          line-height: 18px;
          letter-spacing: -0.3px;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }
      }
    }
  }
}
