* {
  box-sizing: border-box;
}

.a2026331 {
  width: 121px;
  height: 29px;
  line-height: 29px;
  letter-spacing: -0.48px;
  color: #d9d9d9;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
