* {
  box-sizing: border-box;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border: 1px solid var(--sds-color-border-brand-default);
  border-radius: 8px;
  background: var(--sds-color-background-brand-default);
  padding: 11px;
  width: 70px;
  height: 29px;
  overflow: hidden;

  .button {
    flex-shrink: 0;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--sds-color-text-brand-on-brand);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
