* {
  box-sizing: border-box;
}

.frame22 {
  display: flex;
  align-items: center;
  width: 334px;
  height: 340px;
  overflow-y: auto;

  .frame2 {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    height: 341px;

    .component1 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      padding-bottom: 1px;
      overflow: hidden;

      .text3 {
        margin: 0px 0px 0px 9px;
        width: 22px;
        height: 15px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .star41 {
        margin-left: 3px;
        width: 15px;
        height: 14px;
      }

      .a5057 {
        position: absolute;
        bottom: -1px;
        left: 292px;
        width: 35px;
        height: 15px;
        letter-spacing: 0;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .rectangle22 {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        width: 334px;
        height: 131px;
      }

      .autoWrapper {
        position: relative;
        width: 334px;
        height: 131px;
      }

      .autoWrapper2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 4px;
        padding-right: 0;
        padding-left: 1px;

        .text {
          width: 105px;
          height: 17px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .text2 {
          margin: 0px 0px 0px 68px;
          width: 39px;
          height: 15px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .text4 {
        margin: 1px 0px 0px;
        width: 44px;
        height: 12px;
        letter-spacing: 0;
        color: #6b6b6b;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
      }

      .autoWrapper3 {
        position: relative;
        margin-top: 10px;
        width: 334px;
        height: 131px;

        .a12012 {
          position: absolute;
          bottom: -1px;
          left: 286px;
          width: 44px;
          height: 15px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .autoWrapper4 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 4px;
        padding-right: 1px;
        padding-left: 1px;

        .text5 {
          width: 75px;
          height: 17px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .star16 {
          margin-left: 140px;
          width: 15px;
          height: 14px;
        }

        .text6 {
          margin: 0px 0px 0px 9px;
          width: 21px;
          height: 15px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .autoWrapper5 {
        position: relative;
        margin-top: 23px;
        width: 334px;
        height: 131px;

        .a50572 {
          position: absolute;
          top: 115px;
          left: 292px;
          width: 35px;
          height: 15px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .autoWrapper6 {
        position: relative;
        margin-top: 10px;
        width: 334px;
        height: 131px;
      }

      .rectangle20 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 10px;
        border-radius: 8px;
        padding: 115px 7px 1px 292px;
        background-image: url(../image/mp1cnopj-9f8bwov.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .a50573 {
          width: 35px;
          height: 15px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }

      .autoWrapper7 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 4px;
        padding-right: 0;
        padding-left: 1px;

        .text7 {
          width: 106px;
          height: 17px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .text8 {
          margin: 0px 0px 0px 67px;
          width: 39px;
          height: 15px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }
      }
    }
  }
}
