* {
  box-sizing: border-box;
}

.frame {
  position: relative;
  width: 375px;
  height: 667px;
  overflow: hidden;

  .volumeX {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  .rectangle1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
    background: #ffffff;
    padding: 0px 6px 288px 167px;
    width: 375px;
    height: 667px;

    .a5C234A7D50209E0Fdc0 {
      position: absolute;
      top: 40px;
      left: 33px;
      width: 334px;
      height: 322px;
    }

    .autoWrapper {
      display: flex;
      position: relative;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;

      .chevronsDown {
        margin-top: 339px;
        width: 40px;
        height: 40px;
        overflow: hidden;
      }
    }
  }

  .rectangle9 {
    position: absolute;
    top: 379px;
    left: 0;
    background: #f3f3f3;
    width: 378px;
    height: 299px;
  }

  .rectangle11 {
    display: flex;
    position: absolute;
    top: 379px;
    left: -3px;
    align-items: flex-start;
    background: #ffffff;
    padding: 240px 60px 0px 61px;
    width: 375px;
    height: 288px;

    .rectangle13 {
      position: absolute;
      top: 22px;
      left: 15px;
      width: 350px;
      height: 219px;
    }

    .autoWrapper2 {
      display: flex;
      position: relative;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;

      .pause {
        width: 48px;
        height: 48px;
        overflow: hidden;
      }
    }
  }

  .chevronLeft {
    position: absolute;
    top: 3px;
    left: -1px;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  .line1 {
    position: absolute;
    top: 380px;
    left: 0;
    background: #888888;
    width: 375px;
    height: 6px;
  }

  .rectangle12 {
    display: flex;
    position: absolute;
    top: 312px;
    left: 299px;
    align-items: center;
    border-radius: 100px;
    background: #d9d9d9;
    padding: 22px 12px 22px 13px;
    width: 73px;
    height: 73px;

    .text {
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
    }
  }
}
