* {
  box-sizing: border-box;
}

.text {
  width: 197px;
  height: 22px;
  line-height: 22px;
  letter-spacing: 0;
  color: var(--sds-color-text-default-default);
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
