* {
  box-sizing: border-box;
}

.text {
  width: 64px;
  height: 19px;
  line-height: 19px;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
